@import './../../../../variables';

.general-column {
  width: $column_width;
  border: 1px solid #808080;
  height: 0;
  margin: 0 .2rem;
  display: flex;
  align-self: flex-end;
  transition: all .5s ease-in-out;
  z-index: 11;
}

.income-column {
  background-color: lighten($income-color, 10%);
  border-color: darken($income-color, 10%)
}

.expenses-column {
  background-color: $expense-color;
  border-color: darken($expense-color, 50%)
}
