<div class="wrapper">
  <div class="grid">
    <div class="inner">
      <div class="mark full">
        <span class="value">100%</span>
      </div>
      <div class="mark quarter">
        <span class="value">75%</span>
      </div>
      <div class="mark half">
        <span class="value">50%</span>
      </div>
      <div class="mark third">
        <span class="value">25%</span>
      </div>
      <div class="mark null">
        <span class="value">0%</span>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
