@import '../../../variables';

.settings-panel {
  width: 60vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 100000000000;
  background: $main-bg;
  border-left: 2px solid $body-border-color;
  transition: all .4s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 1111111111
}

.settings-list {
  list-style-type: none;

  .settings-item {
    padding: 1vh 2vw;
    border-bottom: 1px solid $body-border-color
  }
}

