<div>
  <h2>Limit for {{ currentMonth }}</h2>
  <strong>{{ totalLimit | currency | currencyPipe }}</strong>

  <div class="limit-form">
    <ng-container  *ngIf="!categoriesVisible; else categoriesForm">
      <form #overalLimit="ngForm">
        <p>Overall amount</p>
        <div class="total-amount">
          <input type="number" ngModel [max]="9999999" [min]="1" #overalValueInput placeholder="Amount" name="amount" id="totalAmount">
        </div>
        <div class="submit-limit-btn">
          <button type="submit" (click)="onSubmit()">Submit</button>
          <button class="cat-total-btn" (click)="onShowCategories()" *ngIf="!categoriesVisible">
            Show categories
          </button>
        </div>
      </form>
    </ng-container>
    <ng-template #categoriesForm>
      <form #limitForm="ngForm" >
        <div *ngIf="categoriesVisible">
          <p>Select category and amount</p>
          <div class="category-item" *ngIf="availableCategories.length">
            <div>
              <input type="number" ngModel [min]="1" required name="amount" placeholder="Amount" #categoryInputValue >
            </div>

            <select name="category" [(ngModel)]="preSelectedCategory" id="category" (change)="onChangePreselected($event)">
              <option *ngFor="let category of availableCategories" [value]="category.id" id="categoryOption">{{ category.name }}</option>
            </select>
            <button (click)="addLimit()" [disabled]="!categoryInputValue.value">&plus;</button>
            <span class="tooltip-icon" (click)="showTooltip()">?
              <span class="tooltip" *ngIf="showAddCategoryTooltip">You can add a category in settings</span>
            </span>
          </div>
          <ng-container *ngIf="limits.length > 0">
            <p *ngFor="let limit of limits">{{ limit.name }} {{ limit.amount }}</p>
          </ng-container>
        </div>
        <div class="submit-limit-btn">
          <button type="submit" (click)="onSubmit()">Submit</button>
          <button class="cat-total-btn" (click)="onShowCategories()" *ngIf="categoriesVisible">
            Cancel categories
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>

