@import '../../../variables';

.transaction {
  text-align: center;
}

h3, p {
  text-align: center;
  font-size: $font-size;
  margin-bottom: 2vh;
}
p {
  font-weight: bold;
}
.income {
  color: $income-color
}

.expense {
  color: $expense-color
}

.source {
  color: rgb(148, 148, 148);
  font-size: .8rem;
}

.transaction-list {
  overflow-y:scroll;
  height: 92vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */;
  padding-bottom: 5vh
}

.transaction-list::-webkit-scrollbar {
  display: none
}
