<h2>Spendings</h2>
<div class="chart-wrapper">
  <div id="chart" *ngIf="chartOptions && chartOptions.series && chartOptions.series.length >= 0">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart!"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive!"
    ></apx-chart>
  </div>
</div>
<ul>
  <li class="spending-item" *ngFor="let s of spendings"><span>{{ s.name }}</span> <span class="expense">{{ s.amount  | currency | currencyPipe }}<span class="currency"> czk</span></span></li>
</ul>
