* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.outlet-wrap {
  position: relative;
  height: 92vh;
  padding: 5vh 4vw 0 4vw;
}
