<div class="categories-wrap">
  <h2>Add category</h2>
  <form #form="ngForm">
    <div>
      <input #input autocomplete="off" required type="text" ngModel name="name" placeholder="Category name">
    </div>
    <select name="type_id" [(ngModel)]="selected" >
      <option [value]="'expense'" selected>Expense</option>
      <option [value]="'income'">Income</option>
    </select>
    <button class="secondary-btn" [disabled]="!form.valid" type="submit" (click)="onSubmit(form)">Submit</button>
  </form>
  <ul class="categories">
    <li class="category-item" *ngFor="let c of categories"><span>{{ c.name }}</span><span class="id">{{ c.type_id }}</span> <span class="remove-category-btn" (click)="onRemoveCategory(c.id, c.name)">&times;</span></li>
  </ul>

</div>
