$grid-width: 33vw;
$grid-height: 25vh;
$column_width: 6vw;

$font-size: clamp(4vw, 6vw, 6vw);

$grid-color: rgb(41, 39, 39);
$currencyFS: 2.5vw;

$main-bg: rgb(244, 244, 249) ;//#301f1f57;
$main-color: #322653;// #301f1f;
$body-border-color: #8062D6;
$income-color: rgb(2, 128, 2);
$expense-color: rgba(196, 9, 9, 0.993);
$currency-color: rgb(124, 121, 121);
