@import '../../../../variables';

ul {
  padding: 0;
  height: 48.6vh;
  overflow-y: scroll;
}

.spending-item {
  margin: 0 auto;
  width: 70vw;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 1vh 2vw;
  font-weight: normal;
  border-bottom: 1px solid $main-color
}

.spending-item:nth-child(odd) {
  background: lighten($main-color, 65%)
}
.spending-item:nth-child(even) {
  background: lighten($main-color, 80%)
}
.spending-item:last-child {
  border-bottom: none
}
